<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Comida casera a domicilio</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:src="@{js/index.js}"></script>
</head>
<body>
	<div class="container">
		<div class="orderProducts">
			<div class="page-header">
				<h1>Comida casera a domicilio</h1>
			</div>
			<table class="table-striped">
				<tr>
					<th>Producto</th>
					<th>Precio</th>
					<th>Cantidad</th>
				</tr>
				<tr th:each="product,status : ${products}">
					<input type="hidden" th:value="${product.id}" name="existingIds"/>
					<td th:text="${product.nombre}"></td>
					<td th:text="${product.precio} + ' €/' + ${product.unidad}"> </td>
					<td><input type="number" th:id="'product_' + ${product.id}"/></td>
				</tr>			
			</table>
			<div>
				<input type="button" value="Pedir comida" id="searchButton"/>
			</div>
		</div>
		<div class="result">
			<div class="panel panel-success"> 
				<div class="panel-heading"> 
					<h3 class="panel-title">Resumen del pedido</h3> 
				</div> 
				<div class="panel-body"> <span id="results"/> </div> 
			</div>
		</div>
	</div>
</body>
</html>