<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<title>Comida casera a domicilio</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script th:src="@{js/index.js}"></script>
</head>
<body>
	<form action="/searchWithFilter">
		<h1>Comida casera a domicilio</h1>
		<h2>Spring-boot y thymeleaf</h2>
		<span>
			<input type="button" value="Buscar" id="searchButton"/>
		</span>
	</form>
</body>
</html>